.footer .footer_links_course a,
.footer .footer_links_community a,
.footer .footer_links_quick a {
  color: #5d5a6f !important;
  transition: 0.2s all;
}
.footer .footer_links_course a:hover,
.footer .footer_links_community a:hover,
.footer .footer_links_quick a:hover {
  color: #7c3aed !important;
  padding-left: 5px;
}
.footer svg {
  transition: 0.2s all;
}
.footer svg:hover {
  fill: #7c3aed !important;
  padding: 0 !important;
}
.footer_copyright a {
  color: #7c3aed !important;
}
